# Dependencies
node_modules/
.pnp/
.pnp.js

# Testing
coverage/

# Production builds
dist/
build/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
*.log

# Uploaded uploads/cache
uploads/
temp/
*.pdf
*.png
*.jpg
*.jpeg
*.traineddata

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
